################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/VectorGraphicEditor/bin/Debug
/VectorGraphicEditor/.vs/VectorGraphicEditor/v16/Server/sqlite3
/VectorGraphicEditor/.vs/VectorGraphicEditor/v16
