################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/VectorGraphicEditor/bin/Debug
/VectorGraphicEditor/obj/Debug
/VectorGraphicEditor/.vs/VectorGraphicEditor/v16
/VectorGraphicEditor/packages/Extended.Wpf.Toolkit.3.5.0
